*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); */
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav:hover{
    background-color: rgba(0, 0, 0, 0.5);
    
}
nav{
    height: 120px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a{
    display: flex;
    align-items: center;
    text-align: center;
}
 .text-logo{
    color: #fff;
    font-size: 20px;
   
}
nav .img-logo{
    width: 150px;
    height: 100px;
    background: none;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 17px;
    cursor:pointer;
}
.content{
    text-align: center;
    position: relative;
    height: 300px;
    align-items: center;
}
.content h1{
    font-size: 70px;
    color: #fff;
    transition: 0.7s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff ;
    color: transparent;
}
.content a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.background-video{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    
}
#navbar-btn{
    width: 28px;
    height: 28px;
    display: none;
   
}
.close{
    width: 28px;
    height: 28px;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;

}
.nav-input:checked ~ #overlay{
    display: block;
}
.nav-input:checked ~ #navbar-mobile {
    transform: translateX(0%);

}

#navbar-mobile{
transform: translateX(100%);
 position: fixed;
 top: 0;
 right: 0;
 bottom: 0;
 width: 300px;
 max-width: 100%;
 background-color: #FFF;
 transition: transform linear 0.2s;
}
#navbar-mobile li{
    margin-top: 25px;
    margin: 0 15px 0 15px;
}

#navbar-mobile li a{
    font-size: 30px;
    padding: 8px 0;
    display: block;
    margin: right 100px;;


}
.flex{
    display: flex;
}


#overlay{
     position: fixed;
     top: 0;
     right:0;
     bottom: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.3);
     display: none;
}


/* rp */
@media (max-width: 1023px) {
    #navbar-btn{
        display: block;
    }
    nav ul {
        display: none;
    }
    .content h1 {
        font-size: 40px;
        margin-top: 400px;
    }
}











